@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

html, body {
    background-color: #eaeaea;
    font-family: Raleway;
}

/* Convenient CSS to use */
.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.center {
    display: block;
    margin: 0 auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.box {
    background-color: white;
    border-top-color: #F6BB42;
    border-top-style: solid;
    border-top-width: 10px;
}

small {
    font-size: 0.3em;
}

/* For overriding Bootflat styles */
.navbar {
    border-radius: 0;
    background-color: #F6BB42;
    border-color: #F6BB42;
}

.navbar-nav:hover {
    background-color: #d2a038;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle{
    background-color: #d2a038;
    border-color: #d2a038;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #d2a038;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #d2a038;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-link, .navbar-default .btn-link,
.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a{
    color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default
.navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #FFCE54;
}

.navbar-right:hover {
    text-decoration: underline;
}

.progress {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #656D78;
}

.btn:hover, .btn:focus {
    border-bottom-color: #1a6451;
}

.btn-default, .btn-default:hover, .btn-default:focus {
    border-bottom-color: #E6E9ED;
}

.btn-info, .btn-info:hover, .btn-info:focus {
     border-bottom-color: #1a6451;
 }

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    border-bottom-color: #5D9CEC;
}

.btn-success, .btn-success:hover, .btn-success:focus {
    border-bottom-color: #678f3f;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus {
     border-bottom-color: #d19f38;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus {
    border-bottom-color: #ae3642;
}